{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">

		<div class="mt-5">
		<a href="{{path('admin_create_produit')}}" class="btn-green btn-success">Ajouter un produit</a>
		</div>

		<table class="table">
			<thead class="tab-thead">
				<tr>
					<th class="br-thead-left" scope="col">ID</th>
					<th scope="col">Titre</th>
					<th scope="col">Description</th>
					<th scope="col">Photo</th>
					<th scope="col">Prix</th>
					<th scope="col">Stock</th>
					<th class="br-thead-right" scope="col">Action</th>
				</tr>
			</thead>
			<tbody class="tab-tbody">
				{% for produit in produits %}
					<tr>
						<th scope="row">{{produit.id}}</th>
						<td>{{produit.titre}}</td>
						<td>{{produit.description}}</td>
						<td><img class="img-tab" src="{{ asset("media/" ~ produit.photo) }}"></td>
						<td>{{produit.prix}}€</td>
						<td>{{produit.stock}}</td>
						<td>
							<a class="btn-action" href="{{ path('admin_update_produit', {'id' : produit.id}) }}">
								<i class="fa-solid fa-pen-to-square"></i>
							</a>
							<a class="btn-action" href="{{ path('admin_delete_produit', {'id' : produit.id}) }}">
								<i class="fa-solid fa-trash-can"></i>
							</a>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
			<div class="footer-tab"></div>
	</div>
{% endblock %}
