{% extends 'base.html.twig' %}

{% block title %}Hello FrontCartController!
{% endblock %}

{% block body %}
	<div class="container">
		<H3>Votre panier :</H3>
	</div>
	<div class="container">
{{dump()}}
		{# <table class="table">
			<thead class="tab-thead">
				<tr>
					<th class="br-thead-left" scope="col">ID</th>
					<th scope="col">Titre :</th>
					<th scope="col">Description</th>
					<th scope="col">Saveur</th>
					<th scope="col">Prix</th>
					<th scope="col">Stock</th>
					<th scope="col">Photo</th>
					<th class="br-thead-right" scope="col">Action</th>
				</tr>
			</thead>
			<tbody class="tab-tbody">
				{% for dataPanier in datasPanier %}
					<tr>
						<th scope="row">{{ dataPanier.quantite }}</th>
						<td>{{dataPanier.produit.titre}}</td>
						<td>{{dataPanier.produit.description}}</td>
						<td>{{dataPanier.produit.saveur}}</td>
						<img src="{{ asset("media/" ~ dataPanier.produit.photo) }}" alt="donuts">
						<td>{{dataPanier.produit.prix}}</td>
						<td>{{dataPanier.quantite}}</td>
						<td>
							<a class="btn-action" href="#">
								<i class="fa-solid fa-trash-can"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table> #}
		<div class="footer-tab"></div>
	</div>
	
{% endblock %}
