{% extends "base.html.twig" %}



{% block body %}


<div class="box-login">
<h1 class="h1-30 pt-2">Modification du mot de passe</h1>

        <div class="error_msg alert alert-danger">
        {{ form_errors(userMdp.password.first, {'attr' : {'class' : 'password-field'}})}}
        </div>

{{form_start(userMdp)}}

        {{form_label(userMdp.password.first,'Mot de passe :', {'label_attr' : {'class' : 'mt-3'}})}}
        {{form_widget(userMdp.password.first, {'attr' : {'class' : 'form-control input-login'}})}}

        {{form_label(userMdp.password.second,'Répètez le mot de passe :', {'label_attr' : {'class' : 'mt-3'}})}}
        {{form_widget(userMdp.password.second, {'attr' : {'class' : 'form-control input-login'}})}}

        {{form_widget(userMdp.Enregistrer, {'attr' : {'class' : 'btn btn-lg mt-3 btn-co btn-co-login',}})}}

        {{form_errors(userMdp.password.invalid_message)}}

{{form_end(userMdp)}}
</div>

{% endblock %}