{% extends "base.html.twig" %}

{% block body %}

<div class="box-login">
<h1 class="h1-30 pt-2">Modification de l'email</h1>
{{form_start(userEmail)}}

        {{form_label(userEmail.email,'Email :', {'label_attr' : {'class' : 'mt-3'}})}}
        {{form_widget(userEmail.email, {'attr' : {'class' : 'form-control input-login'}})}}

        {{form_widget(userEmail.Enregistrer, {'attr' : {'class' : 'btn btn-lg mt-3 btn-co btn-co-login',}})}}

{{form_end(userEmail)}}

</div>

{% endblock %}